{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% include "partials/head.html" %}

    <!--begin::Page Vendors Styles -->
    {% block style_page_vendors %}
    {% endblock style_page_vendors %}
    <!--end::Page Vendors Styles -->

    <!--begin::Page Snippets Styles-->
    {% block style_page_snippets %}
    {% endblock style_page_snippets %}
    <!--end::Page Snippets Styles -->
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid  m-error-5"
         style="background-image: url({% static 'assets/app/media/img//error/bg5.jpg' %});">
        {% block content %}
        {% endblock %}
    </div>
</div>
<!-- end:: Page -->
<!--begin::Base Scripts -->
<script src="{% static 'assets/vendors/base/vendors.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/demo/default/base/scripts.bundle.js' %}" type="text/javascript"></script>
<!--end::Base Scripts -->
</body>
<!-- end::Body -->
</html>
